* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(20, 16, 16);
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent; 
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    height: 70px;
  }
  
  #logo {
    display: flex;
    align-items: center;
  }
  
  #logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 0.5rem;
    border-radius: 30px;
  }
  
  #logo p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }

  #menu-items ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  #menu-items li {
    display: inline;
  }
  
  #menu-items a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  #menu-items a:hover {
    color: #f0a500;
  }

  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
    }
  
    #menu-items ul {
      flex-direction: column;
      gap: 1rem;
    }
  }
.about{
    /* border: 2px solid white; */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    height: 60vh;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
  }
.details{
    margin-top: 20px;
    padding-top: 20px;
    /* border: 1px solid white; */
    color: white;
    width: 50%;
    height: auto;
}
.details h2 span{
    color: rgb(184, 37, 37);
}
#empty{
    height: 15px;
}
#tags{
    /* padding: 20px; */
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
}